**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/node_modules/**

package-lock.json

**/.DS_Store
.vscode/
**/*.orig
**/*.js
**/*.js.map
**/*.d.ts
!rollup.config.js
!eslint.config.js
tsconfig.tsbuildinfo

!dist/**
!lib/genai/*.js
!lib/genai/*.d.ts